# Next.js
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.png

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vercel
.vercel

.vercel
